/* Основные стили проекта */
.page {
  margin: 0 auto;
  font-family: var(--ibm__font), monospace;
  background-image: var(--bg__image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* заголовок и декоративные элементы */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
}

/* переключатели тем */
.header__theme-menu {
  display: grid;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: row;
  position: relative;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--dc-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--dc-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--dc-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--dc-hover-color);
}

.decor__element {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  text-align: center;
  padding-right: 10px;
  text-transform: uppercase;
}

.decor__element::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 38px;
  font-family: var(--ibm__font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.decor__element::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  height: 9px;
  width: 9px;
  display: inline-block;
}

.corner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid var(--dc-color);
  border-right: 1px solid var(--dc-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
}

.corner::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--dc-color);
  border-left: 1px solid var(--dc-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
}

/* основной заголовок в шапке */
.header__main-title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-wrap: wrap;
}

/* заголовки разделов */
.title-decor {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.header__paragraph {
  display: grid;
  justify-self: center;
  align-self: center;
}

.title__theme-question {
  font-family: var(--ibm__font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--dc-color);
}

/* основной текстовый контент */

.content__card {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.content__article-text {
  color: var(--content-text-color);
  font-family: var(--ibm__font), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  margin-bottom: 10px;
}

.content__article-text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.content__article-text-link:hover {
  border-bottom: 1px solid var(---content-text-color);
}

.content__article-text-link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

.content__section {
  display: grid;
  margin: 0 10px 40px;
  gap: 20px;
}

.concentrate__hard {
  grid-auto-flow: row;
  padding: 40px 0 0 0;
}

.title__less {
  min-inline-size: 355px;
  margin-bottom: 10px;
}

.concentrate__less-container {
  display: grid;
  grid-auto-flow: row;
}

.concentrate__better {
  grid-auto-flow: row;
}

.content__card-better {
  display: grid;
  gap: 20px;
}

.card__title-point {
  font-weight: 400;
  margin-bottom: 10px;
}

.concentrate__images {
  gap: 10px;
}

.gallery__item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
}

.footer__main-title {
  font-family: var(--ibm__font), monospace;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
}

@media (width >= 780px) {
  .header {
      display: grid;
      grid-template-rows: 1fr min-content 1fr;
      max-block-size: 100vh;
      padding: 20px;
      position: relative;
  }

  /* переключатели тем */
  .header__theme-menu {
      display: grid;
      justify-content: end;
      align-items: end;
  }

  .header__theme-menu-list {
      display: grid;
      grid-auto-flow: row;
      align-items: end;
      gap: 10px;
  }

  .corner::before {
      content: "";
      margin: 20px;
  }

  .corner::after {
      content: "";
      margin: 20px;
  }

  /* основной заголовок в шапке */
  .header__main-title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      text-align: left;
      text-wrap: wrap;
  }

  .header__paragraph {
      display: grid;
      justify-self: end;
      align-self: center;
      max-inline-size: 364px;
  }

  .content__section {
    display: grid;
    margin: 0 20px;
    gap: 20px;
  }

  .concentrate__hard {
      grid-template-columns: 1fr 2fr;
      grid-auto-flow: row;
      padding-top: 60px;
  }

  .concentrate__less {
      padding: 50px 0;
  }

  .title__question-less {
    max-inline-size: 236px;
  }

  .title__less {
      min-inline-size: 315px;
  }

  .concentrate__less-container {
      display: grid;
      grid-auto-flow: row;
  }

  .concentrate__better {
      grid-template-columns: 1fr 2fr;
      grid-auto-flow: row;
      padding-bottom: 50px;
  }

  .content__card-better {
      display: grid;
      gap: 20px;
  }

  .concentrate__images {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 20px 60px;
  }

  .gallery {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .gallery__item {
      inline-size: 100%;
      block-size: 100%;
      max-block-size: 100%;
      object-fit: cover;
  }

  .gallery__item:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
  }

  .gallery__item:nth-child(5) {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
  }

  .footer {
      display: grid;
      justify-content: center;
      align-items: center;
      min-block-size: 100vh;
      padding: 20px;
      position: relative;
  }

  .footer__main-title {
      font-family: var(--ibm__font), monospace;
      color: var(--title-color);
      text-shadow: 4px 4px 0 var(--accent-color);
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      font-weight: 700;
      line-height: 95.7px;
  }

  .decor__element {
      margin: 10px;
  }

@media (width >= 1024px) {
  .header__theme-menu {
      justify-content: center;
  }

  .header__theme-menu-list {
      display: grid;
      grid-auto-flow: column;
      align-self: start;
      gap: 10px;
  }

  .header__title {
      margin-left: -20px;
  }

  .header__paragraph {
      max-inline-size: 491px;
  }

  .content__card {
      display: grid;
      gap: 10px;
  }

  .content__card p:first-of-type {
      padding-block-end: 10px;
  }

  .concentrate__less {
      padding: 80px 0;
  }

  .concentrate__less-container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      padding-top: 20px;
  }

  .content__card-less {
      margin-bottom: 10px;
      min-inline-size: 315px;
      gap: 10px;
  }

  .concentrate__better {
    padding-bottom: 80px;
  }

  .better-article {
      padding-top: 10px;
  }

  .concentrate__images {
      padding-bottom: 60px;
  } 
}
}